// utils
.border {
  border: 1px solid $light-gray;
}

.border-white {
  border: 1px solid white;
}

.border-primary {
  border: 1px solid $primary;
}

.q-item {
  text-transform: capitalize;
}

.q-chip__content {
  text-transform: capitalize;
  // padding: 4px;
}
