// utils
.text-decoration-none {
  text-decoration: none;
}

.hover-text-white:hover {
  color: white;
}

.border {
  border: 1px solid $light-gray;
}

.border-primary {
  border: 1px solid $primary;
}

.q-item {
  text-transform: capitalize;
}

.q-chip__content {
  text-transform: capitalize;
  // padding: 4px;
}
