$primary : #1d1d1d;
$secondary : #393939;

$positive : #2cbd2f;
$negative : #e12729;

$warning : #f8cc1b;
$dark : #1D1D1D;


// custom variables

$light-gray: rgba(0, 0, 0, 0.12);

// Max width at which point
// current size ends
$breakpoint-xs: 550px !default;
$breakpoint-sm: 850px !default;
$breakpoint-md: 1150px !default;
$breakpoint-lg: 1500px !default;
